# SINTAXIS PYTHON

* tipos de datos
* variable
* operadores

In [1]:
numero = 15
print(numero)

15

hola paquito

In [2]:
edad = 20
salary = 1900.43
edad

20

In [3]:
complex(1, 1)

(1+1j)

In [4]:
type(edad)

int

In [5]:
type(salary)

float

In [6]:
##operadores aritméticos

In [7]:
salary = 1500.0
bonus = 101.34

final_salary = salary + bonus
final_salary

1601.34

In [8]:
salary_without_bonus = salary - bonus

In [9]:
salary_without_bonus

1398.66

In [10]:
# Operacion modulo o resto, permite saber si un numero es par o impar
5 % 3

2

In [11]:
'''
Esto es un comentario de varias líneas
Operación módulo
'''
5 % 2

1

In [12]:
'''
Division enterea
'''

2024 / 100

20.24

In [13]:
product1_price = 36.33
product2_price = 44.55
final_price = product1_price + product2_price
final_price

80.88

In [14]:
verdadero = True
falso = False

In [15]:
type(verdadero)

bool

In [16]:
dato = bool(0)
dato

False

In [17]:
edad = 15

if edad >= 18 

else

SyntaxError: expected ':' (3167567134.py, line 3)

### Operador And

In [ ]:
edad = 17
has_access = edad >= 18 and edad <=22
print(has_access)

salary = 3400
has_discount = salary >= 1200 and salary <= 2300 
print(has_discount)

False
False

In [ ]:
# or: es mas flexible, con que una de las opciones sea verdadero ya será verdadero todo el resultado
edad = 17 
has_tutor = True
has_discount = True

has_access = edad >= 18 or has_tutor or has_discount
has_access

True

In [ ]:
# or: es mas flexible, con que una de las opciones sea verdadero ya será verdadero todo el resultado
edad = 17 
has_tutor = True
has_discount = True

# has_access = (edad >= 18) | has_tutor | has_discount #cuidado, necesita parentesis para funcionar bien
# has_access = (edad >= 18) | has_tutor | has_discount
has_access = edad >= 18 or has_tutor or has_discount
has_access

True

### Operador not

In [ ]:
not has_access

False

## Strings

In [ ]:
# Suma (concatenación de strings)

"Hola Mundo" + "Estamos usando Python"
# podemos añadir un espacio enmedio +" "+

'Hola MundoEstamos usando Python'

In [1]:
string = "Hola Mundo, esto es una cadena en PYTHON!"

string

'Hola Mundo, esto es una cadena en PYTHON!'

In [ ]:
string.lower()

'hola mundo, esto es una cadena en python!'

In [ ]:
string.capitalize()

'Hola mundo, esto es una cadena en python!'

In [ ]:
string.title()

'Hola Mundo, Esto Es Una Cadena En Python!'

In [ ]:
string.upper()

'HOLA MUNDO, ESTO ES UNA CADENA EN PYTHON!'

In [ ]:
string

'Hola Mundo, esto es una cadena en PYTHON!'

In [ ]:
string.swapcase()

'hOLA mUNDO, ESTO ES UNA CADENA EN python!'

In [ ]:
string.replace("Mundo", "planeta")
# No modifica el string original

'Hola planeta, esto es una cadena en PYTHON!'

In [ ]:
# La variable string sigue siendo la misma, no se ha modificado

string

'Hola Mundo, esto es una cadena en PYTHON!'

In [ ]:
string.find("PYTHON")

34

In [2]:
string.index("PYTHON")

34

In [3]:
string.find("Mundo")

5

la diferencia entre index y find es: find devuelve un valor centinela, y si devuelve -1 para saber que no nos da lo que buscabamos

In [4]:
string.index("planeta")

ValueError: substring not found

pycharm muestra texto extra en la descripcion de count

In [5]:
string.count("a")

4

In [6]:
string.count("A")

0

In [7]:
string

'Hola Mundo, esto es una cadena en PYTHON!'

In [8]:
string.split()

['Hola', 'Mundo,', 'esto', 'es', 'una', 'cadena', 'en', 'PYTHON!']

In [13]:
alumnos = """
Alan
Noelia
Carlos
Jose Ignacio
Emilio
noelia
"""

persona = "Noelia"
alumnos.lower().count(persona.lower())

2

In [ ]:
string.split()

split puede hacer que te separe un vector en distintos strings, separados

In [17]:
nombres = "carlos, luis, noelia, carolina"
lista_nombres = nombres.split(",")
print(lista_nombres[0])
print(lista_nombres[1])
print(lista_nombres[2])
print(lista_nombres[3])

carlos
 luis
 noelia
 carolina

hemos visto los procesos:
count()
index()
swapcase()
upper()
lower()
replace()
find()
split()

### Indexing & Slicing

- **Indexing:** Es la forma de "acceder" o "entrar" a un solo elemento de un **objeto iterable** (strings, lists, dict...) lo que sea que queramos iterar.
    - Se utilizan los corchetes `[ ]` para hacer indexing.      
    

- **Slicing:** Es la forma de "acceder" o "entrar" a varios elementos de un **objeto iterable** (string, lists, dict...).
    - Al igual que indexing se utilizan corchetes `[ ]` pero se le agregan el caracter `:`.
        
**En python el primer elemento de un objeto iterable tiene indice 0.**

Para saber el tamaño de un objeto iterable podemos usar la función **`len()`**.

cada letra tiene una posición y contamos desde 0
podemos acceder a una letra o a un grupo de letras, que determinamos con los corchetes [] y dentro ponemos la posicion a la que queremos acceder
se puede acceder desde 0 al final o si ponemos numeros negativos, vamos contando hacia detrás

![slicing_indexing_1.jpg](attachment:slicing_indexing_1.jpg)

Si estamos haciendo slincing y el primer elemento es el comienzo del objeto podemos hacer
<p style="text-align: center;"> <strong>string[0:10]</strong> o <strong>string[:10]</strong> </p>


Y si el ultimo elemento del slicing es el final del objeto podemos hacer:
<p style="text-align: center;"> <strong>string[10:20]</strong> o <strong>string[10:]</strong> </p>

In [33]:
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[55]) # porque nos hemos pasado de la longitud del string

H
o
l
a

IndexError: string index out of range

In [28]:
len(string) # len nos dice el maximo de tamaño del string

41

In [ ]:
print(string[0])
print(string[1])
print(string[2])
print(string[3])
print(string[40]) # porque nos hemos pasado de la longitud del string

H
o
l
a
!

In [ ]:
#calculado:
longitud = len(string)
ultima_posicion = longitud - 1
string[ultima_posicion]
# compacto:
# string[len(string-1)

# negativo (más rápidos de escribir a nivel de código)
#  string[-1]

# a ojo:
# string[40]

'!'

In [ ]:
# Si quisieramos el primer elemento de este string, usariamos [0]

string[0]

In [23]:
# Si quisieramos el elemento numero 10 del string usamos [9]

string[9]

'o'

Debido a que los indices comienzan en 0 si quisieramos "acceder" al indice **x** usariamos el indice **x - 1**.

In [43]:
# Para el último elemento del string podemos usar [40] o [-1]

string[40]

'!'

In [42]:
string[-1]

'!'

In [44]:
# Si quisiera un elemento fuera de ese rango

# string[1000]

En python, podemos hacer indexing de **izquierda a derecha**, comenzando en 0 y se suma 1 hasta el último indice que sería el tamaño del objeto menos 1.

También se puede hacer indexing de **derecha a izquierda**, esta vez comenzando desde -1 y, en lugar de sumar 1, se resta 1.

**Ejemplo:**

In [3]:
string = "Hola Mundo, esto es una cadena en PYTHON!"

string[-1]

'!'

In [47]:
string[-2]

'N'

In [48]:
string[-3]

'O'

In [49]:
string[-4]

'H'

In [50]:
string[-5]

'T'

In [51]:
string[-10]

'e'

In [52]:
string

'Hola Mundo, esto es una cadena en PYTHON!'

Slicing

In [58]:
# Para hacer slicing usariamos [start:end]

string[0:4]

'Hola'

In [ ]:
# El slicing termina una posición antes al numero que le digamos
# Es decir, no incluye al último elemento OJO!! 

string[2:7]

'la Mu'

In [ ]:
# También podemos usar indices negativos
string[-8 : -3]

' PYTH'

In [4]:
print(string[-1])
print(string[-2])
print(string[-3])
print(string[-4])
print(string[-5])
print(string[-6])
print(string[-7])
print(string[-8])
print(string[-9])

!
N
O
H
T
Y
P

n

In [6]:
# star:stop:step
string[0:10:2]

'Hl ud'

In [61]:
string[:10]

'Hola Mundo'

In [62]:
string[10:]

', esto es una cadena en PYTHON!'

Me faltan muchas dcosas del dia 11 diciembre 2024, porque estaba haciendo un examen de experto en ciberseguridad

## Funciones

Una **función** es un bloque de código con un nombre asociado, que **recibe cero o más argumentos como entrada**, sigue una secuencia de sentencias, la cuales ejecuta una operación deseada y **devuelve un valor y/o realiza una tarea**.

En python las funciones se definen con la palabra reservada **`def`** y si es necesario, se utiliza la palabra reservada **`return`**.

**Sintaxis**:
```python
    def NombreFuncion(parametros):
        bloque de código
        return
```

**Ejemplo:**

In [ ]:
# El cuadrado de un número

def func_cuadrado(x):
    
    cuadrado = x**2
    
    return cuadrado

# Esta función toma como parametro un número "x" y retorna el cuadrado de "x"

In [ ]:
x = 10

func_cuadrado(x)

In [ ]:
# Datos de un usuario

def func_datos():
    
    nombre = input("Ingresa tu nombre: ")
    apellido = input("Ingresa tu apellido: ")
    edad = int(input("Ingresa tu edad: "))
    lenguaje = input("Ingresa tu lenguaje de programación favorito: ")
    
    datos = [nombre, apellido, edad, lenguaje]
    
    return datos

# Esta función no toma ningún parametro, pero retorna una lista con los datos que pregunta al usuario al ejecutarse.

In [ ]:
func_datos()

In [ ]:
lista_datos = func_datos()

In [ ]:
lista_datos

In [6]:
# Número par o impar

def func_par_impar():
    
    x = int(input("Ingresa un número para verificar si es par o impar: "))
    
    if x % 2 == 0:
        print("El numero", x, "es par.")
    
    else:
        print("El numero", x, "es impar.")
        
# Esta función no toma ningún parametro de entrada y no retorna nada.

In [ ]:
func_par_impar()

In [ ]:
variable = func_par_impar()

print(variable)

### Parámetros por defecto (opcionales) y return

- En python se pueden crear funciones con parámetros por defecto, estos parametros se pueden modificar al momento de llamar a la función.

- Al momento de definir una función con parámetros opcionales de definen después de los obligatorios. Es decir, primero se escriben los parámetros obligatorios y de segundo los opcionales. 

- **return**: Cuando la función llega a la parte del **return** esta se detiene y termina su ejecución. Una función puede tener más de un **return** o no tenerlo.

In [ ]:
def fecha_año(dia, mes = "enero", año = 2000):
    
    print(f"Hoy es {dia} de {mes} de {año}")
    
# En esta función tenemos 2 parametros opcionales y 1 obligatorio
# Esta función no retorna nada.

In [ ]:
# Como solo hay 1 parametro obligatorio, puede ejecutar la función solo dandole el parametro obligatorio

fecha_año(20)

In [2]:
# Se puede cambiar un parametro por defecto al momento de ejecutar la función

fecha_año(20, "Febrero", 2020)

NameError: name 'fecha_año' is not defined

In [4]:
fecha_año(dia = 20, mes = "Febrero", año = 2000)

NameError: name 'fecha_año' is not defined

In [ ]:
# Función que retorna el cuadrado de un número si es par.

def func_cuadrado_par(x = 100):
    
    if x % 2 == 0:
        return x**2
    
    else:
        return x

In [ ]:
func_cuadrado_par(10)

In [ ]:
func_cuadrado_par(7)

In [ ]:
func_cuadrado_par()

### Retornar más de un elemento

Hasta ahora hemos hecho funciones que solo retornan un elemento, número, lista... Pero podemos hacer que el **return** nos retorne varias elementos, de esta forma podemos asignar varias variables al mismo tiempo.

In [ ]:
# Funcion que retorna el minimo y el maximo de una lista

def min_max_lista(lista):
    
    minimo = min(lista)
    maximo = max(lista)
    
    return minimo, maximo

In [ ]:
# Generamos una lista aleatoria para probar la función anterior

import random

lista = []

for i in range(1000):
    lista.append(random.randint(1, 10000))
    
print(lista)

In [ ]:
minimo_lista, maximo_lista = min_max_lista(lista)

In [ ]:
print(minimo_lista)
print(maximo_lista)

### Variables locales y globales

- En Python las **variables locales son aquellas definidas dentro de una función**. Solamente **son accesibles desde la propia función y dejan de existir cuando esta termina su ejecución**. Los parámetros de una función también son considerados como variables locales.


- En Python las **variables globales son aquellas definidas en el cuerpo principal del programa fuera de cualquier función**. Son **accesibles desde cualquier punto del programa, incluso desde dentro de funciones**. También se puede acceder a las variables globales de otros programas o módulos importados.

In [ ]:
var_global = 100

def suma_100(valor_inicial):
    
    suma = valor_inicial + var_global
    
    return suma

In [ ]:
suma_100(10)

In [ ]:
# En la función anterior usamos una variable fuera de la función que no esta en el parametro ni en el cuerpo de la función.
# Si ahora intentamos imprimir por pantalla la variable "valor_inicial" y la variable "suma" nos dará error.
# Esto es porque esas variables se crearon con la función.
# Y cuando la función termina de ejecutarse estas variables dejan de existir.

print(valor_incial)

In [ ]:
# La variable "suma" es una variable local, así que no podremos utilizarla fuera de la función.

print(suma)

### Lambda (función anónima)

Python cuenta con la función **lambda**, también llamada función anónima, su utilidad es poder crear funciones sin tener que darle un nombre. Debido a la sintaxis de la función **lambda** está es un poco limitada.

Se usa principalmente para funciones cortas, puede tomar muchos parámetros y puede retornar cualquier tipo de dato (numero, tupla, lista, diccionario...).

**Sintaxis**:
```python
lambda parametros_entrada : elementos_salida
```

In [ ]:
x = lambda a, b : a + b

x(10, 20)

In [ ]:
y = lambda n : n**2

y(10)

In [ ]:
x

In [ ]:
y

In [ ]:
cuadrado = y(3)

cuadrado

**Si quisieramos que retorne más de un elemento, podemos colocar las operaciones en una lista o tupla.**

In [ ]:
x = lambda a, b : [a + b, a - b]
x(10, 10)

**También podemos usar funciones dentro de _lambda_.**

In [ ]:
z = lambda a : y(a)

In [ ]:
z(8)

In [ ]:
z = lambda a, b : [x(a, b), y(sum(x(a, b)))]

In [ ]:
z(10, 10)

In [ ]:
######b########################################################################################################################

Alan Sastre 19:32
# class Product con atributos: id, title, price, quantity, active, description
# sin metodo init

In [5]:
class Producto:
    id = 1
    title = "Nombre del Producto"
    price = 0.00
    quantity = 0
    active = False
    description = "descripción del producto"
    # image = [Image(),Image()]
    image_url = "http://www.google.com/image.png"
#fuera de la clase creamos los objetos de la clase
antena = Producto()
antena.description = "Muy chula"
antena.title = "Antena 2000"

print(antena.id)    
print(antena.description)
print(antena.title)

discoduro = Producto()
print(discoduro.id)

1
Muy chula
Antena 2000
1

In [6]:
pruducts = [
        Producto("cosa1", 10)
        Producto("cosa2", 5)
        Producto("cosa3", 100)
        Producto("cosa4", 5)
]

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2131444003.py, line 2)

In [ ]:
case

In [ ]:
    """_summary_
    """